/* Giving the page body a style */
body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  overflow-x: hidden;
}
/* Being used to style Table headers and to give them a hover effect */
#Columns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: aquamarine;
  border: solid black 2px;
  width: 75vw;
}
button:hover {
  color: red;
}
button {
  display: flex;
  background: transparent;
  border: none;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

/* Styling for the contents of the table that were fetched in  */
#TableContents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 35px;
  width: 75vw;
  border: solid black 1px;
}
#TableContents:hover {
  background-color: gray;
  color: turquoise;
  cursor: pointer;
}
/* Each of these Id's is used to style hand entered vehicle data */
#addedAudi {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 35px;
  width: 75vw;
  border: solid black 1px;
}
#addedAudi:hover {
  background-color: gray;
  color: turquoise;
  cursor: pointer;
}
#addedFord {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 35px;
  width: 75vw;
  border: solid black 1px;
}
#addedFord:hover {
  background-color: gray;
  color: turquoise;
  cursor: pointer;
}
#addedBMW {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 35px;
  width: 75vw;
  border: solid black 1px;
}
#addedBMW:hover {
  background-color: gray;
  color: turquoise;
  cursor: pointer;
}
/* Styling for search bar */
#searchBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 35px;
  width: 75vw;
  flex-direction: column;
  margin: 5vh;
}
